* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(124, 124, 124);
}

/* Header */
header { 
  height: 70px;
  background-color: white;
  padding: 8px 24px;
}

#logo {
  vertical-align: middle;
}
  
.text-logo {
  font-size: 40px;
  font-weight: 700;
  vertical-align: middle;
}

/* Main */
#container {
  width: 64%;
  margin: 48px auto;
  background-color: white;
  border-radius: 5px ;
}

/* buttons section*/
.first-box {
  height: 64px;
  border-bottom: 4px solid rgb(246,248,249);
  padding-top: 16px;
  margin-left: 48px;
}

.button{
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-one {
  color: white;
  background-color: rgb(71,173,241);
  border: 1px solid rgb(71,173,241);
}

.btn-two {
  color: lightgrey;
  background-color: white;
  border: 1px solid lightgrey;
}

/* list section */
.big-square {
  box-sizing: border-box;
  background-color: white;
  padding: 32px 0 48px 48px;
}

.big-square li{
  list-style: none;
}

.big-square .list-name {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
  list-style-type: none;
}

.big-square .list-name::before {
  content: '\25BE';
}

.big-square .all{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 24px;
}


/* check icons*/
.all::before{
  content: '\02713';
  display: inline-block;
  text-align: center;
  height: 16px;
  width: 16px;
  line-height: 16px; 
  border-radius: 50%;
  margin-right: 6px;
}

.list::before {
  content: '\02713';
  color: green; 
  border: 1.5px solid green;
}

.list2::before {
  content: '\0292C';
  color: red;
  border: 1.5px solid red;
}

/* colored part at the end of the list text*/
.color{
  font-size: 8px;
  color: white;
  padding: 5px 8px; 
  border-radius: 8px;
}

.list .blue {
  background-color: rgb(69,171,234);
}

.list .violet {
  background-color: rgb(156,114,228);
}

.list2 .green {
  background-color: rgb(100,192,169);
}

.list .orange {
  background-color: rgb(242,158,51);
}

.list .pink {
  background-color: rgb(218,106,165);
}

.list .green-grass{
  background-color: rgb(176,201,38);
}

